{% extends 'base.html' %}

{% block title %}
Add Finch
{% endblock title %}

{% block content %}
<h1 class="mb-5">Delete Finch</h1>

<div class="page-content">
    <h4>Are you sure you want to delete <span class="text-light-blue">{{object.name}}</span>?</h4>
    <form action="" method="POST" class="mt-4">
        {% csrf_token %}
        <input type="submit" value="Yes" class="btn btn-success text-white">
        <a href="{% url 'detail' finch.id %}" class="btn btn-danger">Cancel</a>
    </form>
</div>

{% endblock content %}