{% extends 'base.html' %}

{% block title %}
Add Finch
{% endblock title %}

{% block content %}
{% if object %}
  <h1 class="mb-5">Edit: <span class="text-light-blue">{{object.name}}</span></h1>
{% else %}
  <h1 class="mb-5">Add Finch</h1>
{% endif %}

<div class="page-content">
    <form action="" method="POST">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <input type="submit" value="Submit" class="btn btn-info mt-4">
    </form>
</div>

{% endblock content %}