{% extends 'base.html' %}

{% block title %}
Finches
{% endblock title %}

{% block content %}

<div class="page-content d-flex flex-column justify-content-center align-content-center">
    <div class="row">
        <div class="col-6">
            <div class="bg-secondary p-4 rounded">
                <h1 class="mb-5 text-center">{{finch.name}} </h1>
                <h5 class="mb-5">{{finch.description}}</h5>
                <p>Species: {{finch.species}}</p>
                <p>Age: {{finch.age}}</p>
            </div>
            <div class="mt-3 text-center">
                {% if finch.toys.count %}
                <h1>{{finch.name}}'s Toys</h1>
                <ul class="toys-have">
                    {% for toy in finch.toys.all %}
                    <li style="background-color: {{toy.color}};">{{toy.name}}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>{{finch.name}} doesn't have any toys yet.</p>
                {% endif %}
            </div>
        </div>
        <div class="col-6">
            <div class="mt-4 d-flex flex-column justify-content-center align-content-center">
                <form action="{% url 'add_feeding' finch.id %}" method="POST" class="mb-3">
                    {% csrf_token %}
                    {{ feeding_form.as_p }}
                    <input type="submit" class="btn btn-info" value="Add Feeding">
                </form>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Meal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for feeding in finch.feeding_set.all %}
                        <tr>
                            <td>{{feeding.date}}</td>
                            <td>{{feeding.get_meal_display}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
    <div class="row">
        <h3>Available Toys</h3>
        {% if toys.count %}
        <ul>
            {% for toy in toys %}
            <li>
                <div>
                    <span style="color: {{toy.color}}">{{toy.color}}</span><span> {{toy.name}}</span>
                    <form action="{% url 'assoc_toy' finch.id toy.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Give Toy">
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>{{finch.name}} already has all available toys.</p>
        {% endif %}
    </div>
</div>

{% endblock content %}