{% extends 'base.html' %}

{% block title %}
Finches
{% endblock title %}

{% block content %}
<h1 class="mb-5">Finches</h1>

<div class="page-content">
    {% for finch in finches %}
    <div class="item">
        <a href="/finch/{{ finch.id }}" class="finch">
            <div class="item-content p-3 my-3">
                <div class="content">
                    <div class="row">
                        <div class="col-8">
                            <p class="item-title letter-spacing-1">{{ finch.name }}</p>
                            <p>Description: {{finch.description}}</p>
                        </div>
                        <div class="col-4">
                            <p>Species: {{finch.species}}</p>
                            <p>Age: {{finch.age}}</p>
                        </div>
                    </div>  
                </div>
            </div>
        </a>
        <div class="">
            <div class="d-flex justify-content-end align-content-center">
                <a class="btn btn-info text-white" href="{% url 'finch_update' finch.id %}">Edit</a>
                <a class="ms-2 btn btn-danger" href="{% url 'finch_delete' finch.id %}">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}