{% extends 'base.html' %}

{% block title %}
About
{% endblock title %}#

{% block content %}
<h1 class="mb-5">About</h1>

<div class="page-content">
    <p class="fs-5">Welcome to our finch collector website! We are passionate about these beautiful birds and want to share our knowledge and love for them with you.</p>
    
    <p class="fs-5">We believe that finches make wonderful pets and are a joy to watch and care for. Whether you are a seasoned bird enthusiast or just starting out, we hope that our website will provide you with valuable information and resources to help you learn more about these amazing creatures.</p>    
</div>
{% endblock content %}