{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block title %}
        {% endblock title %}
        | Finch Collector
    </title>
    <!-- Materialize CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
</head>
<body class="bg-dark text-white">
    <nav class="bg-light d-flex align-content-center justify-content-between">
        <h1 class="p-3 m-3 fw-bolder text-dark letter-spacing-1">Finch Collector</h1>
        <ul class="my-auto d-flex align-content-center justify-content-center">
            <li><a class="p-3 m-3 me-0 btn btn-dark" href="{% url 'home' %}">Home</a></li>
            <li><a class="p-3 m-3 me-0 btn btn-dark" href="{% url 'about' %}">About</a></li>
            <li><a class="p-3 m-3 me-0 btn btn-dark" href="{% url 'finch_index' %}">Finches</a></li>
            <li><a class="p-3 m-3 btn btn-dark" href="{% url 'finch_create' %}">Add Finch</a></li>
        </ul>
    </nav>
    <main class="p-5">
        {% block content %}
        {% endblock content %}
    </main>
    <footer class="text-right bg-light text-dark">
        <p class="me-3 mt-3">© 2023 Finch Collector | Emanuel Dinssa</p>
    </footer>
</body>
</html>