{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block title %}
        {% endblock title %}
        | Finch Collector
    </title>
</head>
<body class="bg-dark text-white">
    <nav class="bg-light">
        <ul class="d-flex align-content-center justify-content-center">
            <li><a class="p-3 m-3 btn btn-dark" href="{% url 'home' %}">Home</a></li>
            <li><a class="p-3 m-3 btn btn-dark" href="{% url 'about' %}">About</a></li>
            <li><a class="p-3 m-3 btn btn-dark" href="{% url 'finch_index' %}">Finches</a></li>
        </ul>
    </nav>
    <main class="p-5">
        {% block content %}
        {% endblock content %}
    </main>
    <footer>

    </footer>
</body>
</html>